doctype
html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui')

  meta(property="og:title", content=properties.title)
  meta(property="og:description", content=properties.description)

  title=properties.title

  include analytics.jade

body
  #silk-browser
    img(src=properties.cdnAddress + "/images/no-support.png", alt="Sorry, this game does not work on your device!")
  #og-game-holder
    #game

  if (!productionBuild)
    script.
      document.write('<script src="//' + window.location.hostname + ':#{properties.liveReloadPort}/livereload.js"><\/script>');

script(src=properties.cdnAddress + "main.js")
