.no-support
  img(src=cdnAddress + "images/no-support.png", alt="Oh no! It looks like you need to update your desktop/browser before you can play this game!")

  .description
    p
      |Oh no! It looks like you need to update your
      br
      |desktop/browser before you can play this game!

    p Find out more in our
      a(href=grownUpsURL) Grown-ups FAQ
      |. In the meantime, check
      br
      | out
      a(href=moreFromThisShowURL) More from this show
      |  or
      a(href=otherCbeebiesGamesURL) Choose another Cbeebies game
      |.

