form(class='form-inline', role="form")

  each value, key in object
    include entity-option

button.save.btn.btn-primary
  span Save

button.add.btn.btn-default.add-property
  span Add Property

button.btn.btn-default.snap-grid
  span Snap Grid To Size
