form.group-property-form(role="form", onsubmit="return false;")

  .form-horizontal
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-9
        input.form-control(value=name, placeholder='Name', name="name")

    .form-group
      label.col-sm-3.control-label(for='key') Alpha
      .col-sm-9
        input(type="range", min="0", max="1", step ="0.01", value=group.alpha, name="alpha")

    .form-group
      label.col-sm-3.control-label(for='key') Remove
      .col-sm-9
        button(type="button").delete.btn.btn-danger.pull-right
          span Delete Group

  .text-center
    .btn-group
      button(type="button").btn.decrease-order
        span <
      button(type="button").lock.btn.btn-info
        span Lock
      button(type="button").btn.increase-order
        span >

  .form-inline.property-container
    h2 Custom Properties

    each value, key in group
      include entity-option

  button.add.btn.btn-default.add-property
    span Add Property

  .collision-container
    h2 Collisions

    each group in otherGroups
      include group-collision

  button(type="button").save.btn.btn-primary
    span Save
