#instructions
  input(type="checkbox" id='xxlargeAspectRatio' checked)
  span XXLarge Mode
  br
  input(type="checkbox" id='xlargeAspectRatio' checked)
  span XLarge Mode
  br
  input(type="checkbox" id='largeAspectRatio' checked)
  span Large Mode
  br
  input(type="checkbox" id='mediumAspectRatio' checked)
  span Medium Mode
  br
  input(type="checkbox" id='smallAspectRatio' checked)
  span Small Mod
  br
  input(type="checkbox" id='gameLogic' checked)
  span Game Logic Size
  br
  br
  label Grid Width in Pixels
  input.form-control(placeholder='40', name='gridWidth' id='gridWidth')
  label Grid Height in Pixels
  input.form-control(placeholder='40', name='gridHeight' id='gridHeight')
  br
  label Grid Offset X
  input.form-control(placeholder='0', name='gridOffsetX' id='gridOffsetX')
  br
  label Grid Offset Y
  input.form-control(placeholder='0', name='gridOffsetY' id='gridOffsetY')
  br
  label Background Colour
  input.form-control(placeholder='#000000', name='backgroundColour' id='backgroundColour')
  br
  ul
    li Navigate map with SPACEBAR + LEFT_MOUSE
    li Add to selection with SHIFT
    li Delete selection with DELETE or BACKSPACE
    li Freely move selection with ALT
    li Snap grid to entity CONTROL + G
  br
  br
