html, body
  margin 0
  height 100%

#silk-browser
  width 100%
  height 100%
  background-color: #bad465;
  display none;

#silk-browser img
  width 100%;
  top 0;

#og-game-holder
  width 100%
  height 100%
  top 0px

#og-game-rotate
  top 0px
  position absolute
  z-index 1
  width 100%
  height 100%
  background-color #9cffff
  text-align center

#og-game-rotate img
  width 80%
  height auto
  margin 20% auto

@media all and (orientation:portrait)
  /* Styles for Portrait screen */
  #og-game-rotate
    display block
  #og-game-holder
    display none

@media all and (orientation:landscape)
  /* Styles for Landscape screen */
  #og-game-rotate
    display none
  #og-game-holder
    display block

div.no-support
  position relative
  width 720px
  height 440px
  margin auto
  text-align center

div.no-support .description
  position absolute
  top 334px
  left 150px

div.no-support p
  font-family Arial
  font-weight bold
  font-size 18px
  color #2b5b5b
  margin 0
  line-height 30px

div.no-support a
  color: #ff66cb

div.no-support a:hover
  color: #f8ffeb

#brim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99999999px;
    z-index: 2147483648;
    color: #1476C3;
    background-color: #ADDEF0;
}

.brim_text {
    font: bold 1.2rem Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 0px;
    right: 0px;
}

.brim-enabled {

}

.brim-disabled .brim_text {
    display: none;
}
