.modal-container
  background-color #161616
  border-radius 6px
  color white
  position absolute
  display block
  left 50%
  text-transform capitalize
  outline 0
  padding 0px 14px 0px 14px
  margin-top 100px
  overflow-y auto

  &.confirm
    top 30%
    left 45%

  &.save-as
    top 30%
    left 45%
    width 400px
    max-height 100%

    input
      color black

  form
    margin-top 14px

    .js-content
      overflow hidden

  .modal-controls
    margin-bottom 14px

  .modal-title
    font-size 30px
    font-family Arial

  &.instructions
    left 10px
    position absolute
    bottom 200px
    overflow auto

  &.inspector
    border-radius 10
    top 0px
    left inherit
    right 0px
    width 310px
    margin 0

    form

      .object-property
        margin-bottom 14px

        input
          width 123px
          font-size 12px

        .label
          font-size 20px
          padding 4px 2px


      .radio-inline
        margin-bottom 11px

      .collision-item-inputs

        margin-left 21px

        display none

        input.stub
          width 100%
          margin-top 5px

        .checkbox
          padding-top 5px

  .form-horizontal .form-group
    margin-right 0

  .btn
    color black

  .lock
    width 67px

  .modal-content
    padding 14px
    width 100%
    height 100%

  .js-content
    width 100%
    overflow-y auto
    padding 0px 0px 10px 0px
